<nav class="cyan darken-2">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a (click)="logout()" href="#">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>


<body class="fondo">
    
    <!-- Tabla -->
    <div class="container">
        <b class="casa">{{ dollar.nombre_negocio }}</b>
        <div class="tabla">
            <table class="content-table table">
                <thead>
                    <tr>
                        <th>Compra</th>
                        <th>Venta </th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>{{ dollar.dllC }}</td>
                        <td>{{ dollar.dllV }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="linear">
        <!-- Editar precio -->
        <div class="precio">
            <!-- COMPRA -->
            <br>
            <b>PRECIO COMPRA </b>
            <div class="row card-content">
                <div class="">
                    <div class="input-field col s12 customInput">
                        <i class="material-icons prefix">monetization_on</i>
                        <input [(ngModel)]="dollar.dllC" class="browser-default" id="dllC" type="number" name="dllC"
                            placeholder="{{dollar.dllC}}" autocomplete="off" (keypress)='soloNumeros($event)'>
                    </div>
                </div>
            </div>
            <!-- VENTA  -->
            <b>PRECIO VENTA</b>
            <div class="row card-content">
                <div class="">
                    <div class="input-field col s12 customInput">
                        <i class="material-icons prefix">monetization_on</i>
                        <input [(ngModel)]="dollar.dllV" class="browser-default" id="dllV" type="number" name="dllV"
                            placeholder="{{dollar.dllV}}" autocomplete="off" (keypress)='soloNumeros($event)'>
                    </div>
                </div>
            </div>

            <div>
                <a (click)="updateDollar()" style="width: 100%;"
                    class="btn green accent-6 btn-actualizar">Actualizar</a>
            </div>
        </div>

        <!-- Conversor de divisa -->
            <div class="convertidor">
                <h4 id="titulo">CONVERSOR DE DIVISA</h4>
                <div class="input-field  conversorInput">
                    <i class="material-icons prefix">monetization_on</i>
                    <input class="browser-default" id="cantidad" name="cantidad" type="text"
                        placeholder="Ingrese la cantidad." autocomplete="off" value="0.00" (keypress)='soloNumeros($event)'>
                </div>

                <div class="opcion">
                    <div class="conversorD">
                        <span>DE:</span>
                        <select class="browser-default" id="de" name="de">
                            <option value="peso">Peso</option>
                            <option value="dolar" selected>Dolar</option>
                        </select>
                    </div>
                    <div class="conversorA">
                        <span>A:</span>
                        <select class="browser-default" id="a" name="a">
                            <option value="peso" selected>Peso</option>
                            <option value="dolar">Dolar</option>
                        </select>

                    </div>
                </div>


                <div class="">
                    <a class="btn green accent-6 btn-operacion" (click)="convertir()">Convertir</a>
                </div>


                <div class="resultado" id="resultado">
                    Resultado: $0.00
                </div>
            </div>
        </div>
</body>