<nav class="cyan darken-2">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a (click)="logout()" href="#">Cerrar Sesión</a></li>
        </ul>
      </div>
</nav>

<div class="col s12 m12 l7 table2">
  <body class="bodyLogin">
    <div class="row">
        <!-- PRECIOS -->
        <div class="col s12 m12 l5 center card-action">
            <div class="border">
                     <!-- COMPRA -->
                <div class="row card-content">
                  <span class="card-title"><b>PRECIO COMPRA </b></span>
                  <div class="row col s12 m10 l10 offset-l1 offset-m1">
                    
                  <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">monetization_on</i>
                    <input class="browser-default" id="direccion" type="text" name="direccion"
                       placeholder="Ingrese el precio de compra. ">

                </div>
              </div>
            </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s6">
                            <a style="width: 100%;"
                                class="btn col l10 s12 m12 green accent-6 btnL offset-l1 offset-s2 offset-m2">Limpiar
                                formulario</a>
                        </div>

                        <div class="col s6">
                            <a  style="width: 100%;"
                                class="btn col l10 s12 m12 red accent-6 btnL offset-l1 offset-s1 offset-m1">Guardar
                                casa</a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                            <!-- VENTA  -->
                  <div class="row card-content">
                    <span class="card-title"><b>PRECIO VENTA </b></span>
                    <div class="row col s12 m10 l10 offset-l1 offset-m1">
                        
                    <div class="input-field col s12 customInput">
                      <i class="material-icons prefix">monetization_on</i>
                      <input class="browser-default" id="direccion" type="text" name="direccion"
                         placeholder="Ingrese el precio de venta. ">

                  </div>
                </div>
               
              </div>

              <div class="card-action">
                  <div class="row">
                      <div class="col s6">
                          <a style="width: 100%;"
                              class="btn col l10 s12 m12 green accent-6 btnL offset-l1 offset-s2 offset-m2">Limpiar
                              formulario</a>
                      </div>

                      <div class="col s6">
                          <a  style="width: 100%;"
                              class="btn col l10 s12 m12 red accent-6 btnL offset-l1 offset-s1 offset-m1">Guardar
                              casa</a>
                      </div>
                  </div>
              </div>

            </div>
        </div>
        
        <!-- Tabla -->
        <div class="col s12 m12 l7 table2">
            <div class="col s12 m12 l12">
                <div class="container">
                   <table class="content-table table">
                      <thead>
                          <tr>
                              <th>Compra</th>
                              <th>Venta </th>
                          </tr>

                      </thead>
                      <tbody>
                          <tr >
                              <td>18.0</td>
                              <td>20.0</td>
                          </tr>
                      </tbody>
                  </table>

                </div>
            </div>

          <div class="convertidor">

           <h4 id="titulo" >CONVERSOR DE DIVISA</h4>
          <p id="p1">Convertir de </p>
          <div>       
              <select class="browser-default" id="d1" >
              <option value="" disabled selected>De</option>
              <option value="Dolar">Dolar</option>
              <option value="Peso">Peso</option>
              </select>
          </div>
              
          <div>

              <select class="browser-default" id="d2" >
              <option value="" disabled selected>a</option>
              <option value="Dolar">Dolar</option>
              <option value="Peso">Peso</option>
              </select>

          </div>
           <p id="p2">a</p>
              

              <div class="input-field col s12 customInput">
                  <i class="material-icons prefix">monetization_on</i>
                  <input class="browser-default" id="direccion" type="text" name="direccion"
                     placeholder="Ingrese la cantidad.">

              </div>
              <br>
  

              <h5>Resultado:</h5> <h5>$0.00</h5>

           </div>




        </div>


    </div>
</body>
  
   
</div>