<body class="fondo">
    <br>
    <br>

    <div class="linear">
        <div class="form">
            <form #userForm="ngForm">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="adminsService.selectedAdmin._id">
                <br>

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">person</i>
                    <input class="browser-default" id="nombre" type="text" name="nombre" #name="ngModel"
                        placeholder="Ingrese nombre" [(ngModel)]="adminsService.selectedAdmin.nombre"
                        autocomplete="off">
                </div>

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">email</i>
                    <input class="browser-default" id="email" type="email" name="email" #email="ngModel"
                        placeholder="Ingrese correo" [(ngModel)]="adminsService.selectedAdmin.email" autocomplete="off">
                </div>

                <div id="c" class="error"></div>

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">vpn_key</i>
                    <input class="browser-default" id="password" type="text" name="password" #password="ngModel"
                        placeholder="Ingrese contraseña" [(ngModel)]="adminsService.selectedAdmin.password"
                        autocomplete="off">
                </div>

                <div class="select">
                    <select class="browser-default" id="rol" name="rol" value="Admin" #rol="ngModel"
                        [(ngModel)]="adminsService.selectedAdmin.rol">
                        <option value="" disabled selected>Selecciona un rol</option>
                        <option value="Admin">Admin</option>
                        <option value="SuperAdmin">SuperAdmin</option>
                    </select>
                </div>
            </form>

            <div class="botton">
                <a (click)="resetForm(userForm)" style="width: 100%;" class="btn green accent-6">Limpiar</a>
                <a (click)="addAdmin(userForm)" style="width: 100%;" class="btn red accent-6">Guardar</a>
            </div>
        </div>



        <div class="container1">
            <div class="customInput2 buscador">
                <i class="material-icons prefix">search</i>
                <input class="browser-default" placeholder="Buscar por nombre o correo" type="text" id="searchfield"
                    (keyup)="getUsersByNameAndEmail()">
            </div>
            <div class="tabla">
                <table class="content-table table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let admins of adminsService.admins">
                            <td>{{ admins.nombre }}</td>
                            <td>{{ admins.email }}</td>
                            <td>{{ admins.rol }}</td>
                            <div class="ab">
                                <a class="a" (click)="updateAdmin(admins)"><i
                                        class="material-icons amber-text">mode_edit</i></a>
                                <a class="b" (click)="deleteAdmin(admins._id)"><i
                                        class="material-icons red-text">delete</i></a>
                            </div>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>




    <!-- <div class="row">
        <div class="col s12 m6 l6 center card-action">
            <div class="border">
    
                <div class="row card-content">
                    <span class="card-title"><b>Formulario</b></span>
                    <form #userForm="ngForm">
    
                        <div class="row col s12 m10 l10 offset-l1 offset-m1">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="adminsService.selectedAdmin._id">
    
                            <div class="input-field col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input class="browser-default" id="nombre" type="text" name="nombre" #name="ngModel" placeholder="Ingrese nombre"
                                    [(ngModel)]="adminsService.selectedAdmin.nombre" autocomplete="off">
                            </div>
    
                            <div class="input-field col s12 customInput">
                                <i class="material-icons prefix">email</i>
                                <input class="browser-default" id="email" type="text" name="email" #email="ngModel" placeholder="Ingrese correo"
                                    [(ngModel)]="adminsService.selectedAdmin.email" autocomplete="off">
                            </div>
    
                            <div class="input-field col s12 customInput">
                                <i class="material-icons prefix">vpn_key</i>
                                <input class="browser-default" id="password" type="text" name="password" #password="ngModel"
                                    placeholder="Ingrese contraseña" [(ngModel)]="adminsService.selectedAdmin.password"
                                    autocomplete="off">
                            </div>
    
                            <div class="select">
                                <select class="browser-default" id="rol" name="rol" value="Admin" #rol="ngModel"
                                    [(ngModel)]="adminsService.selectedAdmin.rol">
                                    <option value="" disabled selected>Selecciona un rol</option>
                                    <option value="Admin">Admin</option>
                                    <option value="SuperAdmin">SuperAdmin</option>
                                </select>
                            </div>
                        </div>
    
                    </form>
                </div>
    
                <div class="card-action">
                    <div class="row">
                        <div class="col s5 l6">
                            <a (click)="resetForm(userForm)" style="width: 100%;"
                                class="btn col l10 s12 m12 green accent-6 btnL offset-l1 offset-s2 offset-m2">Limpiar</a>
                        </div>
    
                        <div class="col s7 m7 l6">
                            <a (click)="addAdmin(userForm)" style="width: 100%;"
                                class="btn col l10 s12 m12 red accent-6 btnL offset-l1 offset-s1 offset-m1">Guardar usuario</a>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="col s12 m12 l6 table2">
            <div class="col s12 m12 l12">
                <div class="container">
                    <div class="customInput">
                        <i class="material-icons prefix">search</i>
                        <input class="browser-default" placeholder="Buscar por nombre o correo" type="text" id="searchfield" (keyup)="getUsersByNameAndEmail()">
                    </div>
                    <table class="content-table table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Operaciones</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let admins of adminsService.admins">
                                <td>{{ admins.nombre }}</td>
                                <td>{{ admins.email }}</td>
                                <td>{{ admins.rol }}</td>
                                <a (click)="updateAdmin(admins)" style="margin-right: 10px;"><i
                                        class="material-icons amber-text">mode_edit</i></a>
                                <a (click)="deleteAdmin(admins._id)" style="margin-right: 10px;"><i
                                        class="material-icons red-text">delete</i></a>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->

</body>