<div *ngIf="this.authAdminService.decodedToken.rol == 'Admin'">
    <nav class="cyan darken-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a (click)="logout()" href="#">Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>
</div>


<body class="fondo">
    <div class="linear">
        <div class="form">
            <span><b>Formulario</b></span>
            <form #casaForm="ngForm">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="casasService.selectedCasa._id">

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">home</i>
                    <input class="browser-default" id="nombre_negocio" type="text" nombre_negocio="ngModel"
                        name="nombre_negocio" placeholder="Ingrese el nombre del negocio"
                        [(ngModel)]="casasService.selectedCasa.nombre_negocio" autocomplete="off">
                </div>

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">place</i>
                    <input class="browser-default" id="direccion" type="text" name="direccion" #direccion="ngModel"
                        placeholder="Ingrese direccion" [(ngModel)]="casasService.selectedCasa.direccion"
                        autocomplete="off">
                </div>

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">email</i>
                    <input class="browser-default" id="email" type="text" name="email" #email="ngModel"
                        placeholder="Ingrese correo de contacto" [(ngModel)]="casasService.selectedCasa.email"
                        autocomplete="off">
                </div>

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">vpn_key</i>
                    <input class="browser-default" id="password" type="text" name="password" #password="ngModel"
                        placeholder="Ingrese contraseña" [(ngModel)]="casasService.selectedCasa.password"
                        autocomplete="off">
                </div>

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">map</i>
                    <input class="browser-default" id="longitud" type="text" name="longitud" #longitud="ngModel"
                        placeholder="Ingrese la longitud" [(ngModel)]="casasService.selectedCasa.longitud"
                        autocomplete="off" (keypress)='soloNumeros($event)'>
                </div>

                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">map</i>
                    <input class="browser-default" id="latitud" type="text" name="latitud" #latitud="ngModel"
                        placeholder="Ingrese la latitud" [(ngModel)]="casasService.selectedCasa.latitud"
                        autocomplete="off" (keypress)='soloNumeros($event)'>
                </div>


                <div class="input-field col s12 customInput">
                    <i class="material-icons prefix">phone</i>
                    <input class="browser-default" id="telefono" type="text" name="telefono" #telefono="ngModel"
                        placeholder="Ingrese el numero de telefono" [(ngModel)]="casasService.selectedCasa.telefono"
                        autocomplete="off" (keypress)='soloNumeros($event)'>
                </div>
            </form>

            <div class="botton">
                <a (click)="resetForm(casaForm)" style="width: 100%;" class="btn green accent-6">Limpiar</a>
                <a (click)="addCasa(casaForm)" style="width: 100%;" class="btn red accent-6">Guardar</a>
            </div>

        </div>
    </div>


    <div class="container1">
        <div class="customInput2 buscador">
            <i class="material-icons prefix">search</i>
            <input class="browser-default" placeholder="Buscar por nombre o correo" type="text" id="searchfield"
                (keyup)="getCasasByNameAndEmail()">
        </div>
        <div class="tabla">
            <table class="content-table table">
                <thead>
                    <tr>
                        <th>Nombre del negocio</th>
                        <th>Direccion</th>
                        <th>Correo</th>
                        <th>Longitud</th>
                        <th>Latitud</th>
                        <th>Telefono</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let casas of casasService.casas">
                        <td>{{ casas.nombre_negocio }}</td>
                        <td>{{ casas.direccion }}</td>
                        <td>{{ casas.email }}</td>
                        <td>{{ casas.longitud }}</td>
                        <td>{{ casas.latitud }}</td>
                        <td>{{ casas.telefono }}</td>
                        <div class="ab">
                            <a class="a" (click)="updateCasa(casas)"><i
                                    class="material-icons amber-text">mode_edit</i></a>
                            <a class="b" (click)="deleteCasa(casas._id)"><i
                                    class="material-icons red-text">delete</i></a>
                        </div>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>




</body>